# Python Basics

## 1. Introduction

In [1]:
# sum of a list of floats
prices = [ 12.2, 34.5, 56.9]
total = sum(prices)
total

103.6

In [2]:
# city as tuple
ville_t = ("Toulouse", 470000, "31000")

In [3]:
name = ville_t[0]
cp = ville_t[2]
print(name, cp)

Toulouse 31000

In [4]:
# same thing with unpack
name,_ , cp = ville_t
print(name, cp)

Toulouse 31000

In [5]:
# city as a dict
ville_d = { 
    "name": "Toulouse",
    "pop": 470000,
    "cp": "31000"
}
ville_d

{'name': 'Toulouse', 'pop': 470000, 'cp': '31000'}

In [6]:
print(ville_d['name'], ville_d['cp'])

Toulouse 31000

In [7]:
# iteration on all couples (key, value)
for k, v in ville_d.items():
    print(k, v)

name Toulouse
pop 470000
cp 31000

## 2. Containers manipulation

In [8]:
cities_tuples = [
    ('Pau', '64000', 77000),
    ('Toulouse', '31000', 470000),
    ('Bordeaux', '33000', 250000),
    ('Bayonne', '64100', 49000),
    ('LÃ©e', '64320', 1200),
]